<html>
  <body>
    <% if @message %>
      <h1><%= @message %></h1>
    <% end %>
    <a href="/logout">Logout</a>
    <form method="post">
      <input type="submit" value="SEND">
    </form>
  </body>
</html>
